:root {
  --ion-color-primary: #0eb6c5e8;
}

ion-app {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
}

ion-title {
  text-align: center;
  padding: 0 12px;
}

ion-content {
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 16px;
  --padding-end: 16px;
  --background: whitesmoke;
}

ion-backdrop {
  background: rgba(0, 0, 0, 0.3);
}

ion-spinner#main {
  width: 100px;
  height: 100px;
}

.Toastify__toast-container {
  top: 70px !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 90%;
    top: var(--toastify-toast-top);
    left: 50%;
    transform: translateX(-50%);
  }
}
